# Base
NEXT_PUBLIC_SITE_URL=http://localhost:3000
DATABASE_URL=file:./dev.db
ADMIN_PASSWORD=cambia-esta-clave

# Novios / notificaciones
OWNER_EMAIL=tu-correo@ejemplo.cl
COUPLE_NAMES=Catalina & César
WEDDING_DATE=26 de febrero

# Flow - sandbox o producción
FLOW_BASE_URL= https://www.flow.cl/api
FLOW_API_KEY= "65A807F5-9D5D-43FD-8DB1-4636LCFAA65A"
FLOW_SECRET_KEY="6753645466f1959b6a03085cb738177a3bef3eb0"

# Correo SMTP. Ejemplo: Gmail con contraseña de aplicación, Brevo, Mailgun, etc.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-password-app
SMTP_FROM="Catalina & César" <tu-correo@gmail.com>

# Datos transferencia, mostrados en una sección pequeña
TRANSFER_BANK= BCI
TRANSFER_ACCOUNT_TYPE=Cuenta corriente
TRANSFER_ACCOUNT_NUMBER= 89685156
TRANSFER_RUT=19.241.832-1
TRANSFER_NAME= César Rodríguez Pozo
TRANSFER_EMAIL= cesarodriguez.96@gmail.com
